
body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: linear-gradient(100deg, rgb(165, 44, 44), rgb(115, 26, 182));
	height: 100%;
}


*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

a{
    cursor: pointer;
    text-decoration: none;
}



.wrapper {
	margin: 20px;
	
}


.btn {
	//height: 3.5vh;
	border-radius: 5px;
	padding: 10px;
	background-color: rgb(214, 210, 210);
	transition: all 0.3s;
	cursor: pointer;
	//margin: 0px auto;
}

.item{
	max-width: 800px;
	border-radius: 20px;
	margin: 100px auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 1px 1px 10px #fff;
}

.btn:hover{
	background-color: rgb(0, 0, 0);
	color: #fff;
}

h1{
	text-align: center;
}

input{
	padding: 15px;
	background-color: rgb(214, 210, 210);
			//padding: 5px;
	border-radius: 10px;
	//height: 3.5vh;
	width: 100%;
	height: 100%;
}

.login {
	max-width: 400px;
	margin: 100px auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 1px 1px 10px #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	&__form {
		display: flex;
		flex-direction: column;
		gap: 0.7rem;
	}

	&__form input{
		background-color: rgb(214, 210, 210);
		//padding: 5px;
		border-radius: 5px;
		height: 3.5vh;
	}

	&__form input::placeholder{
		//color: #fff;
		
	}

}

.item {
}
.logBtn {
}


.menu {
	//border: 1px solid #000;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	display: none;
}

.menu.active{
	display: block;
}

.item {
}
.list {
		&__links {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
}
.managerBtn {
}
.btn {
}
.systemBtn {
}
.quizBtn {
}
.developerBtn {
}
.logOutBtn {
}



.system {

	display: none;

	&__info{
		margin: 0px auto;
		//border: 1px solid #000;
		display: flex;
		flex-direction: column;
		//border: 1px solid #000;
		align-items: center;
		gap: 2rem;
	}

	&__info select{
		//border: 1px solid #000;
		max-width: 200px;
		box-shadow: 1px 1px 10px #000;
		border-radius: 20px;
		font-size: 25px;
		padding: 10px
	}

	&__info option{
		height: 30px;
	}

	&__close{
		margin: 0px auto;
		//border: 1px solid #000;
		display: flex;
		justify-content: center;
	}



}
.item {
}


.quiz {

	display: none;

	&__place {
	}

	&__close{
		margin: 0px auto;
		//border: 1px solid #000;
		display: flex;
		justify-content: center;
	}

}
.item {
}




.app {
	display: none;
}
.app.active{
	display: block;
}
.system.active{
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.quiz.active{
	display: block;
}

.developer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 350px;
	//border: 1px solid #000;
	padding: 20px;
	background-color: #fff;
	border-radius: 20px;
	gap: 1rem;
	margin: 0px auto;
	display: none;
	&__head {
	}

	&__photo img {
		max-width: 300px;
		border-radius: 20px;
	}

	&__info {
		max-width: 300px;
		font-size: 20px;
		//border: 1px solid #000;
	}
	
	&__close{
		margin: 0px auto;
		//border: 1px solid #000;
		display: flex;
		justify-content: center;
	}

}

.developer.active{
	display: block;
}

.item {
}
.working-space {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 2rem;

		&__addCase {
			//border: 1px solid #000;
		}

		&__cases {
			
		}

		&__close {
			margin: 0px auto;
		}
}
.addCase {

		&__input {
			//border: 1px solid #000;
			display: flex;
			justify-content: center;
		}

		&__input input{
			
		}

}
.addCaseBtn {
	width: 10rem;
	border-radius: 10px;
	//border: 1px solid #000;
}
.btn {
}
.cases-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

h2{
	display: flex;
	gap: 1rem;
	align-items: center;
	cursor: pointer;
}

h2:hover span{
	transform: scaleY(1.2);
}

.case {
	list-style: none;
	display: flex;
	//align-items: center;
	cursor: pointer;
	background-color: rgb(214, 210, 210);
	border-radius: 10px;
	padding: 10px;
	flex-direction: column;
	gap: 1rem;
	
	&__heading{
		display: flex;
		gap: 1rem;
	}

	&__accordeon{
		display: flex;
		flex-direction: column;
		gap: 1rem;	
		transition: all 0.3s;
	}

}

// .case::before{
// 	content: '';
// 	background: url(../img/svg/folder_FILL0_wght400_GRAD0_opsz24.svg);
// 	background-size: cover;
// 	height: 30px;
// 	width:30px;
// 	//padding-left: 10px;
// 	margin-right: 10px;
// 	//border: 1px solid #000;
// }

.accordeon{
	&__input{
		display: flex;
	}

	&__input input{
		border: 1px solid #000;
		//height: 3.5vh;
	}

	&__input button{
		border: 1px solid #000;
	}


	&__points{
		//border: 1px solid #000;
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
	}

	&__close{
		border: 1px solid #000;
		max-width: 200px;
		margin: 0px auto;
	}

}

.points{

}

.point{
	list-style: none;
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
}

.closeBtn {
	//border: 1px solid #000;
}




.roulette{
	//border: 1px solid #000;
	max-width: 350px;
	//height: 200px;
	//background: #000;
	//padding: 20px;
	display: flex;
	align-items:center;
	overflow:hidden ;
}

.roulette ul li{
	list-style: none;
	width: 75px;
	height: 70px;
	border: 1px solid #000;
	display: flex;
	align-items:center;
	justify-content:center;
	box-shadow: none;
}

.roulette ul{
	display: flex;
}

.select-version-windows{
	display: none;
}
.select-version-linux{
	display: none;
}
.select-version-macOS{
	display: none;
}
.active{
	display: block;
}




